@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
}

*::selection{
    background-color:#260269;
    color:#fff;
 }
 
 *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: #260269;
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

section{
    padding:3rem 2rem;
 }

 .title{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color:#000;
    font-size: 4rem;
 }
.header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: #bd9e55;
    box-shadow:#bd9e55;
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    padding:2rem;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin:0 auto;
 }
  
 .header .flex .logo{
    font-size: 2.5rem;
    color:#000;
 }
 
 .header .flex .logo span{
    color:#bd9e55;
 }
 
 .header .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:#000;
 }
 
 .header .flex .navbar a:hover{
    color:#bd9e55;
 }
 
 .header .flex .icons div{
    margin-left: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:#260269;
 }
 
 .header .flex .icons div:hover{
    color:#260269;
 }
 
 .header .flex .account-box{
    position: absolute;
    top:120%; right:2rem;
    width: 30rem;
    box-shadow: #bd9e55;
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    border-radius: .5rem;
    border:#fff;
    background-color: #fff;
    display: none;
    animation:fadeIn .2s linear;
 }
 
 .header .flex .account-box.active{
    display: inline-block;
 }
 
 .header .flex .account-box p{
    font-size: 2rem;
    color:#fff;
    margin-bottom: 1.5rem;
 }
 
 .header .flex .account-box p span{
    color:#260269;
 }
 
 .header .flex .account-box .delete-btn{
    margin-top: 0;
 }
 
 .header .flex .account-box div{
    margin-top: 1.5rem;
    font-size: 2rem;
    color:#260269;
 }
 
 .header .flex .account-box div a{
    color:#260269;
 }
 
 .header .flex .account-box div a:hover{
    text-decoration: underline;
 }
 
 #menu-btn{
    display: none;
 }
 
 .dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    max-width: 1200px;
    margin:0 auto;
    align-items: flex-start;
 }
 
 .dashboard .box-container .box{
    border-radius: .5rem;
    padding:2rem;
    background-color:#bd9e55;
    box-shadow: #260269;
    border:#000;
    text-align: center;
 }
 
 .dashboard .box-container .box h3{
    font-size: 5rem;
    color:#000; 
 }
 
 .dashboard .box-container .box p{
    margin-top: 1.5rem;
    padding:1.5rem;
    background-color: #bd9e55;
    color:#fff;
    font-size: 2rem;
    border-radius: .5rem;
    border:#000;
 }







































/* media queries  */

@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    .header .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: #260269;
       border-top: #bd9e55;
       border-bottom: #bd9e55;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
 
    .header .flex .navbar a{
       margin:2rem;
       display: block;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .title{
       font-size: 3rem;
    }
 
 }